<h1>Mon super site de gossip</h1>

<p> voici tes gossips , <%= params["first_name"] %> </p>

<main class="container">

<% @gossips.each.with_index do |gossip, index| %>
  <%if params["first_name"] == gossip.user.first_name%>
    <div class="card">
      <div class="card-header"> c'est le potin n° <%= gossip.id %> </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <%= link_to "#{gossip.title}", gossip_path(gossip.id) %><br/>
          <footer class="blockquote-footer">created by :<%= link_to "#{gossip.user.first_name} #{gossip.user.last_name}", user_path(gossip.user.id) %></footer>
        </blockquote>
      </div>
    </div>
  <%end%>
<% end %>
<div style="margin-top: 20px;"><%= link_to "information user", user_path(@gossips[1].user.id), :class => "btn btn-info" %></div>
<div style="margin-top: 20px;"><%= link_to "Retour Accueil", root_path, :class => "btn btn-info" %></div>
</main>
